body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 100dvh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    /* text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.div {
    width: 50%;
    margin: auto;
    text-align: center;

}

#tableau {
    border-collapse: collapse;
    width: 100%;
}

#tableau th,
#tableau td {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
}

#tableau th {
    background-color: rgb(125, 162, 180);
}

h1 {
    color: black;
}


#button,
#btn {
    background-color: #007bff;
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 15px;
}

#button:hover,
#btn:hover {
    background-color: #94b1cf;
    color: black;
}

#paragraphe {
    color: black;
}


input {
    border: 1px solid #ddd;
    padding: 5px;
    width: 60px;
    text-align: center;
}

#reset {
    background-color: #007bff;
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 15px;
}

#reset:hover {
    background-color: #94b1cf;
    color: black;
}